$mainFont: var(--font-inter);
$titleFont: var(--font-poppins);
$logoFont: var(--font-dancing-script);

// Tints and shades defined using color-hex.com

$primaryColor: #f13c20;
$primaryColorLight1: #f3624c;
$primaryColorLight2: #f68a79;
$primaryColorLight3: #f9b1a5;
$primaryColorLight4: #fcd8d2;
$primaryColorBackground: #fdebe8;
$primaryColorDark1: #c03019;

$secondaryColor: #4056a1;
$secondaryColorLight1: #6677b3;
$secondaryColorLight2: #8c99c6;
$secondaryColorLight3: #b2bbd9;
$secondaryColorBackground: #ebeef5;
$secondaryColorDark1: #334480;

$thirdColor: #d79922;
$thirdColorLight1: #d79922;
$thirdColorLight2: #e7c17a;
$thirdColorLight3: #efd6a6;
$thirdColorBackground: #fbf4e8;
$thirdColorDark1: #ac7a1b;
