@use 'reset';
@use 'variables' as *;

body {
  font-family: $mainFont;
  font-size: 0.9rem;
  line-height: 2ch;
  text-align: justify;

  main {
  }

  h1 {
    font-family: $titleFont;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2ch;
  }

  h2 {
    font-family: $titleFont;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 2ch;
  }

  button {
    font-family: $mainFont;
  }
}
