@use 'reset';
@use 'variables' as *;

body {
  font-family: $mainFont;
  font-size: 0.9rem;
  line-height: 2ch;
  text-align: justify;

  main {
  }

  h1 {
    font-size: 2rem;
    font-weight: 800;
  }

  button {
    font-family: $mainFont;
  }
}
